
li(class="#{pageMainMenuModel.home}")
    a(href="/stages/home") Home
li(class="#{pageMainMenuModel.windows}")
    a(href="/stages/windows") Windows
li(class="#{pageMainMenuModel.grids}")
    a(href="/stages/grids") Data Grids
li(class="#{pageMainMenuModel.forms}")
    a(href="/stages/forms") Forms
li(class="#{pageMainMenuModel.charts}")
    a(href="/stages/charts") Charts
li(class="#{pageMainMenuModel.fragments}")
    a(href="/stages/fragments") Fragments