
li(class="#{pageMainMenuModel.home}")
    a(href="/pages/home") Home
li(class="#{pageMainMenuModel.windows}")
    a(href="/pages/windows") Windows
li(class="#{pageMainMenuModel.grids}")
    a(href="/pages/grids") Data Grids
li(class="#{pageMainMenuModel.forms}")
    a(href="#") Forms
li(class="#{pageMainMenuModel.charts}")
    a(href="#") Charts
li(class="#{pageMainMenuModel.services}")
    a(href="#") Services